/*CLIENTES*/
.clientes-lista {
    overflow-y: auto;
    background-color: aquamarine;
}

.cliente-detalle {
    margin-top: 20px;
    display: none;
}

.clientes-lista li:hover {
    cursor: pointer;
}

