#contenedorLogin button {
  background-color: #223f3f;
  color: white;
  font-weight: bold;
}
#contenedorLogin button:hover {
background-color: #294141d8;
}


#pagLogin{
  background-color: #2e4d4dbe;
}