#contenedorLogin button {
  background-color: #1e5850;
  color: white;
  font-weight: bold;
}
#contenedorLogin button:hover {
background-color: #339989;
}


#pagLogin{
  background-color: #30b39f3a;
}